.BuildTimetable {
  margin: 2rem auto;
  width: 95%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 30px;
  background-color:rgba(80, 141, 95, 0.813);
  color: white;
  font-family: "Copperplate", "Papyrus", fantasy;
}
